@font-face {
    font-family : 'Pretendard';
    src : url('./assets/fonts/Pretendard-Regular.woff2');
}

@font-face {
    font-family : 'Pretendard';
    src : url('./assets/fonts/Pretendard-Bold.woff2');
    font-weight: bold;
}

body, ul {
    margin: 0;
    padding: 0;
    font-family: 'Pretendard';
}

li {
    list-style-type: none;
    display: flex;
    padding: .5rem 0;
    align-items: center;
    gap: .25rem;
}

#container {
    display: flex;
    flex-direction: column;
}

#header {
    color: #AB4E59;
    border-bottom: solid #AB4E59 .1875rem;
    padding: 0 1.25rem .75rem 1.25rem;
}

.date {
    font-size: 1rem;
}

#todoContainer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
    width: 40rem;
    padding: 1.25rem;
    gap: .75rem;
    font-size: 1.25rem;
}

.todoSection {
    display: flex;
    width: 100%;
    gap: .5rem;
}

.todoInput {
    border: solid #AB4E59 .125rem;
    border-radius: .25rem;
    width: 100%;
    padding: 0 .25rem;
}

.todoInput::placeholder {
    color:#c49399;
}

.addButton {
    border: solid #AB4E59 .125rem;
    border-radius: .25rem;
    background-color: white;
    color: #AB4E59;
    padding: .25rem .5rem;
    cursor: pointer;
    flex-shrink: 0;
    font-size: 1rem;
}

.addButton:hover {
    background-color: #d6aab0;
}

.addButton:disabled {
    background-color: white;
    border: solid #d6aab0 .125rem;
    color: #d6aab0;
    cursor: default;
}

.deleteButton {
    width: 1.5rem;
    height: 1.5rem;
    background-size: contain;
    background-color: transparent;
    background-repeat: no-repeat;
    background-image: url('./assets/imgs/DeleteIcon.svg');
    border: none;
    cursor: pointer;
}

.todoMain {
    min-height: 100%;
}

.todoCheckbox {
    appearance: none;
    width: 1.25rem;
    height: 1.25rem;
    border-radius: .25rem;
    border: solid #AB4E59 .125rem;
    background-color: white;
    cursor: pointer;
}

.todoCheckbox:checked {
    border: solid #AB4E59 .125rem;
    background-image: url('./assets/imgs/CheckIcon.svg');
    background-size: contain;
    padding: .25rem;
}

.completed {
    color: #d6aab0;
    text-decoration: line-through;
}